.container {
  color: white;
  font-weight: bold;
  background-image: url("/button.svg");
  width: 135px;
  height: 46px;
  line-height: 39px;
  padding-bottom: 5px;
  padding-right: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}
