.container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .container {
    margin-bottom: 20px;
    padding: 14px 0;
  }

  .hiddenMobile {
    display: none;
  }
}

.ul {
  display: flex;
  flex-direction: row;
  gap: 16px;
  font-weight: bold;
  align-items: flex-start;
  color: #c1d2f9;
}

.ul > *:hover,
.ul > *:active,
.ul > *:focus,
.trigger[data-state="open"] {
  color: white;
}

.menu {
  font-weight: bold;
  margin-top: 15px;
}

.trigger {
  cursor: pointer;
}

.item a {
  padding: 10px 15px;
  padding-right: 40px;
  display: block;
}

.item {
  border-top: 2px dotted #6b96f6;
}

.item:focus,
.item:active {
  background-color: #6b96f6;
  outline: 0;
}

.item:first-child {
  border-top: none;
}
