@keyframes slide {
  0% {
    background-position: 1440px 0;
  }
  100% {
    background-position: 0 0;
  }
}

.container {
  overflow: scroll;
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-image: url("/slider.png"), linear-gradient(#6591f4, #2055b4);
  height: 137px;
  animation: slide 18s linear infinite;
}

.container img {
  min-width: 100%;
}
