@font-face {
  font-family: "Pixel Operator";
  src: url("/PixelOperator.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pixel Operator";
  src: url("/PixelOperator-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Pixel Operator";
  background-color: #6591f4;
  font-size: 22px;
  background-image: url("/header.png"),
    linear-gradient(#5382ed 0px, transparent 250px);
  image-rendering: pixelated;
  background-size: auto 250px;
  background-repeat: repeat-x;
  background-position-y: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

hgroup h3 {
  font-size: 42px;
}

hgroup h4 {
  color: #9bd35b;
  font-size: 20px;
}

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  height: 12px;
  border: 0;
  background-image: url("/hr.png");
  background-size: auto 100%;
  image-rendering: pixelated;
  margin: 50px 0;
}
