.hero {
  text-align: center;
}

.hero h1 {
  font-size: 72px;
  text-shadow: 4px 4px 0px rgba(32, 85, 180, 0.35);
  margin: 0;
  margin-bottom: 25px;
}

.hero h2 {
  font-size: 24px;
  margin: 0;
}

.heroButtons {
  margin: 100px 0;
  justify-content: center;
}

.about {
  background: #2055b4;
  padding-bottom: 120px;
  padding-top: 120px;
}

.krookenomics {
  background-color: #12326a;

  background-image: url("/about.png"),
    linear-gradient(#2055b4 0px, transparent 100px);
  background-position: top;
  background-repeat: repeat-x;
  background-size: auto 100px;

  padding-bottom: 120px;
  padding-top: 160px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 44px;
}

.krookenomics h3 {
  color: #6b96f6;
}
.krookenomicsLogo {
  max-width: 430px;
}

.faq {
  background-color: #081730;
  padding-bottom: 120px;
  padding-top: 120px;
}

.faq .faqBox {
  background-color: #0d2145;
  padding: 20px;
  margin-top: 60px;
  border: 2px solid #12326a;
}

.faq .faqBox h4 {
  color: #6b96f6;
}

.footer {
  background-color: #081730;
  padding-bottom: 60px;
  padding-top: 60px;
}
